# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sim-race-controller/frontend/node_modules
/sim-race-manager/frontend/node_modules
/.pnp
.pnp.js

#pycache
/sim-race-controller/backend/__pycache__
/sim-race-manager/backend/__pycache__

# local var
/sim-race-controller/frontend/src/.env
/sim-race-controller/backend/.env
/sim-race-manager/frontend/src/.env
/sim-race-manager/backend/.env

# production
/sim-race-controller/frontend/build
/sim-race-manager/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
